benchmarks/programs/dacapo/dacapo-9.12-MR1-bach.jar filter=lfs diff=lfs merge=lfs -text
benchmarks/programs/jgrapht/enwiki-2018.graph filter=lfs diff=lfs merge=lfs -text
benchmarks/programs/jgrapht/uk-2007-05@100000-hc.graph filter=lfs diff=lfs merge=lfs -text
